body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: yellow; */
}
.outer{
    height: 250px;
    width: 500px;
    position: relative;
    top: 200px;
    background-color: rgb(173, 241, 215);
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 15px 30px;
    box-shadow: 0 0 10px rgb(242, 239, 239);
}

#button{
    background-color: blue;
    color: white; 
    height: 60px;
    width: 200px;
    border-radius: 20px;
    font-size: 1.5rem;
    border: none;

}
label{
    font-size: 1.2rem;
    padding: 2px;
}
p{
    font-size: 1.2rem;
    color: blue;
}
#birthday{
    height: 60px;
    width: 200px;
    border-radius: 3px;
    border: 0.5px solid blue;
}
